#root {

}


* {
  scroll-behavior: smooth;
}

.container-page {
  padding: 0 10rem;
  width: 100%;
}

.overview-bg-hidden {
  width: 100%;
  height: 312px;
  background: linear-gradient(225deg, #FFCC21 0%, #FF963C 100%);
  opacity: 0.9988;
  mix-blend-mode: soft-light;

  position: absolute;
  top: 0;
  left: 0;
}

.overview-circle {
  width: 181px;
  height: 181px;
  border: 3px solid white;
  border-radius: 50%;
  transform: rotate(45deg);
  border-left: 3px solid transparent;

  position: absolute;
  top: 56px;
  left: 166px;
}

.overview-info-index {
  position: absolute;
  top: 136px;
  left: 220px;
}

.bg-linear {
  background: linear-gradient(33deg, #FFCC21 8.75%, #FF963C 86.64%);
}

.food-btn-more {
  margin-top: 28px;
  color: #fff;

  width: 296px;
  height: 56px;
  border-radius: 4px;
}

.statistical-record--title {
  left: calc(50% - 100px);
  top: calc(50% - 50px);
}